html{
    scroll-behavior:smooth;
}
.navbar{
    background:#236666 !important;
}
.icon{
    color:#236666;
}
.carousel-inner > .carousel-item > img{
        height:450px;
}

.carousel-inner > .carousel-item > .carousel-caption > p{
    font-size:26px;
}
.carousel > .carousel-indicators > li{
    width:20px;
    height:5px;
    background: #000;

}

.carousel > .carousel-control-prev > .carousel-control-prev-icon{
    width:30px;
    height:30px;

}

.carousel > .carousel-control-next > .carousel-control-next-icon{
    width:30px;
    height:30px;
}

.carousel-caption{
    bottom:250px;
    color:#fff;

}

.carousel-caption > .btn.btn-yt{
    background:#236666;
}

.sec{
     color:#fff;
    background:#236666;
}

.container > .row > .col-md-6{
    margin-top:20px;

}

.card > .card-body > .btn.btn-t{
    background:#236666;
    color:#fff;
}

.sg{
    padding-top:20px;
    background:#adadad !important;
    padding-bottom:20px;
}

.pr > .container > .row > .col > h2{
    color:#236666;
}

.hj > .container > .row > .col > h2{
    color:#236666;
}

.gk{
    color:#fff;
    background:#236666;
}

.qw{
    box-shadow:5px 7px 15px;
}

.bm{
    height:452px;
}

.kl:hover{
    border:5px solid #236666;
}

.sx:hover{
    transform:scale(1.1);
}

.ty{
    font-size:17px;
}
.ty:hover{
          transform:scaleY(1.7);
}

.mn{
    font-family: "Fira Code";
    animation:color-change 3s infinite;
}

@keyframes color-change{
    0% {color:red;}
    50% {transform:scale(1.1);}
    100% {color:gold;}
}

.hl{
    border:2px solid #adadad;
    color:#fff;
    padding-top:4px;
    background:#236666;
}

.dd{
    font-size:20px;
    background:#4dd0e1;
    color:#fff;
}

.dc{
    font-size:20px;
    background:#adadad;
    color:#fff;

}
.xx{
    border:3px solid #236666;
}

.bc{
        font-size:13px;
       color:#fff;
}

.vz{
     font-size:15px;
     color:#fff;
     background:#236666;
}

.b1{
     color:#fff;
}

.m{
     background-color:#236666;
     border:2px solid #fff;
} 

.n{
    color:#fff;
    font-size:14px;
}